.flexing{
  display: flex;
  justify-content: space-between;
}

.margins{
  margin-left: 15px;
  margin-right: 15px;
}

.card{
  padding: 1.5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  border-radius: 0.25rem
}

.left-side{
  justify-content: start;
  width: 50%;
  margin-right: 15px;
}

.first-row{
  width: 100%;
  display: flex;
  margin-top: 15px;
}

.first-button{
  width: 50%;
  margin-right: 15px;
  height: 100%;
}

.iconSkull{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.second-button{
  width: 50%;
  margin-left: 15px;
}

.third-button{
  margin-top: 15px;
}

.right-side{
  justify-content: end;
  width: 50%;
  height: 50%;
  margin-left: 15px;
}

.bg-midnigth{
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.bg-redsun{
  background-image: linear-gradient(-20deg, #ff0844 0%, #ffb199 100%);
}

.bg-greengrass{
  background-image: linear-gradient(-20deg, #0ba360 0%, #3cba92 100%);
}

div > p {
  font-size: 1.5rem;
  margin: 0;
}

.info{
  margin-top: 1rem;
}